* {
    margin: 0;
    padding: 0;
    font-family: "Mulish", sans-serif;
}

/* >>>>>>>>>>>>>>>>> Start Nav <<<<<<<<<<<<<<<<<<<<<<< */
.container {
    display: flex;
    justify-content: space-between;
    margin: 52px 137px 50px 135px
}

.container ul {
    display: flex;
    gap: 44px;
    list-style-type: none;
    font-size: 18px;
    font-weight: 400;

}

.container-div1 {
    display: flex;
    gap: 16px;
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.container-div2 {
    padding-top: 30px;
    display: flex;
}

.container-div2 a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: var(--Dark-02, #424247);

}

.text-yellow {
    color: #FF5400;
}

.container-div2 ul li:first-child a {
    color: #FF5400;
}



.banner {
    margin: auto;
    height: 600px;
    width: 85%;
    border-radius: 16px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("Images/Group\ 13\ \(1\)\ \(1\).png");

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    color: #fff;
    padding: auto;
}

.banner-text {
    padding: 150px 287px 0px 287px;
}

.banner-text h1 {
    font-size: 64px;
    font-weight: 800;
    padding-bottom: 24px;
}

.banner-text p {
    padding-bottom: 48px;
    font-size: 16px;
}

.search-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 80px;
    width: 50%;
    gap: 24px;
    font-size: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.input-tipe {
    /* width: 150px;
    height: 40px; */
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    outline: none;
    color: rgba(19, 19, 24, 0.50);
}

select {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
}

.button {
    /* universal button */
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #FF5400;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

/* >>>>>>>>>>>>>>>>>> start Tours<<<<<<<<<<<<<<<<<<< */
.Tours {
    display: flex;
    margin-top: 70px;
    margin-bottom: 100px;
    width: 97%;
    height: 550px;
}

.Tourstext {
    margin: auto;
    height: 500px;
    width: 41%;
    border-radius: 16px;
    color: rgba(19, 19, 24, 0.70);
    text-align: left;
    padding-left: 40px;
    padding-top: 30px;
    box-sizing: border-box;
}

.Tourstext h2 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.Tourstext p {
    padding: 24px 0 32px 0;
}

.Tours-img {
    margin: auto;
    height: 500px;
    width: 40%;
    border-radius: 16px;
    background: url('./Images/Rectangle\ 4.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*  >>>>>>>>>>> Start Destination <<<<<<<<< */
.Destination {
    padding: 20px;
    width: 40%;
    text-align: center;
    margin: auto;
}

.Destination h2 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.Destination p {
    color: rgba(19, 19, 24, 0.70);
    width: 643px;
    font-size: 16px;
    line-height: 26px;
    margin-top: 24px;
}

/* >>>>>>>>>>> Start 7 Img <<<<<<<<<< */
.onlyimg {
    width: 90%;
    margin: auto;
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 15px;
}

h4 {
    color: #fff;
    font-weight: 800;
    font-size: 28px;
    text-align: center;
}

.img1 {
    border-radius: 16px;
    background-image: url('Images/Rectangle\ 5.png');
    height: 300px;
    width: 48%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img2 {
    border-radius: 16px;
    background-image: url('Images/Rectangle\ 8.png');
    height: 300px;
    width: 48%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img3 {
    border-radius: 16px;
    background-image: url('Images/Rectangle\ 6.png');
    height: 300px;
    width: 28%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img4 {
    border-radius: 16px;
    background-image: url('Images/Rectangle\ 7.png');
    height: 300px;
    width: 40%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.img5 {
    border-radius: 16px;
    background-image: url('Images/Rectangle\ 9.png');
    height: 300px;
    width: 25%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.img6 {
    border-radius: 16px;
    background-image: url('Images/Rectangle\ 11.png');
    height: 300px;
    width: 38%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.img7 {
    border-radius: 16px;
    background-image: url('Images/Rectangle\ 10.png');
    height: 300px;
    width: 58%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* >>>>>>>>>>> Why Chose us <<<<<<<<< */
.Chose-us {
    min-height: 550px;
    margin: auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    text-align: left;
}

.divimg {
    height: 100px;
    width: 100px;
    padding-bottom: 50px;
    border-radius: 20px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.div1 {
    padding: 20px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    height: 270px;
    border-radius: 5px;
    width: 45%;


}

.div2 {
    padding: 20px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    height: 270px;
    border-radius: 5px;
    width: 45%;
}

.div3 {
    padding: 20px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    height: 270px;
    border-radius: 5px;
    width: 45%;
    margin-top: 0;
    text-align: left;
}

.p {
    color: #5A5A5D;
    height: 40px;
    font-weight: 400;
    line-height: 20px;
}

/* .pee {
    color: #5A5A5D;
    padding: 10px 0;
    font-weight: 400;
    line-height: 26px;
}

.pex {
    text-align: left;
    font-size: 30px;
    font-weight: 800;
    color: #131318;
    padding: 0;
} */
/* >>>>>>>>>>>>>>>> start  <<<<<<<<<<<<<<<<<<<<<<<<<< */
.Simple {
    display: flex;
    margin-top: 70px;
    margin-bottom: 100px;
    width: 97%;
    height: 550px;
}

.Simple-text {
    margin: auto;
    height: 500px;
    width: 41%;
    border-radius: 16px;
    color: rgba(19, 19, 24, 0.70);
    text-align: left;
    padding-left: 40px;
    padding-top: 30px;
    box-sizing: border-box;
}

.Simple h2 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    line-height: 60px;
    width: 448px;
}

.Simple-p {
    width: 532px;
    color: #5A5A5D;
    font-size: 16px;
    line-height: 26px;
    padding: 24px 0 32px 0;
}

.Simple li {
    width: 518px;
    color: #131318;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}
.Simple button {
    margin-top: 46px;
}

.Simpleimg {
    margin: auto;
    height: 500px;
    width: 40%;
    border-radius: 16px;
    background: url('./Images/Group\ 40089.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}